{% extends 'base.html' %}


{% block body %}
<section id="form"><!--form-->
		<div class="container">
			<div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form"><!--login form-->
						<h2>Новый пароль</h2>
                        {% if validlink %}
						<form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <label>{{ field.label_tag }}</label>
                            {{ field.error }}
                            <p>{{ field }}</p>
                            {% endfor %}
                        <a href="#">Забыли пароль?</a><br>
                        <button class="btn btn-default" type="submit">Сохранить</button>

                        </form>
                        <p>Недействительный токен</p>
                        <p><a href="{% url 'password_reset' %}">Запросить новый токен для смены пароля</a></p>
                        {% endif %}
                </div>
            </div>
        </div>
</section>

{% endblock %}