{% extends 'base.html' %}

{% block body %}
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Главная</a></li>
				  <li class="active">Мои заказы</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Товар</td>
							<td class="description"></td>
							<td class="price">Цена</td>
							<td class="quantity">Количество</td>
							<td class="total">Общая сумма</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                    {% for i in order %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{ i.image }}" alt="" style="width: 250px; height:250px"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ i.product }}</a></h4>

							</td>
							<td class="cart_price">
								<p>{{ i.price }}&nbsp;₽</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<p> {{ i.quantity }}</p>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ i.total }}&nbsp;₽</p>
							</td>
							<td class="cart_delete">
								<!--<a href="{ url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
							-->
							</td>
						</tr>
                    {% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
{% endblock %}